In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
pd.__version__

'0.22.0'

In [3]:
np.__version__

'1.14.0'

In [6]:
type('5')

str

### Lists

In [9]:
Names = ['Callie', 'Comet', 'Mehul', 'Marty']

In [10]:
Bdate = ['527', '1021', '821', '1208']

In [14]:
for name, birthday in zip(Names, Bdate):
    print(name, birthday)

Callie 527
Comet 1021
Mehul 821
Marty 1208

### Dictionary

In [17]:
NameWithBday = {
    'Mehul' : '21 08 1990',
    'Callie': '27 05 1990',
    'Comet' : '21 10 2016',
    'Marty' : '08 12 2003'
}

In [18]:
NameWithBday['Mehul']

'21 08 1990'

### Functions

In [26]:
def convert_to_fahrenheit(celsius):
    return (1.8 * celsius + 32)

In [28]:
print(convert_to_fahrenheit(50), "Fahrenheit")

122.0 Fahrenheit